<div class="container">
  <div class="url-input-container">
  	<form (submit)="shorten(input.value,$event)">
      <input type="text" #input  [pattern]="urlPattern" required title="provide a valid url" placeholder="Put url here">
      <button type="submit" [class.disabled]="inProgress">
        <span *ngIf="!inProgress">SHORTEN</span>
        <span *ngIf="inProgress">Working..</span>
      </button>
     </form>
  </div>
  <div class="shorten-url-container">
    <div class="label">Result</div>
    <div class="url-label">{{shortUrl}}</div>
  </div>
</div>
